  * {
    text-align: justify;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    border-radius: 10px;
  }
  body{
    height: 1400px;
    background: linear-gradient(rgb(0, 0, 0), rgba(66, 9, 104, 0.4), rgba(0, 0, 0, 1.0));
  }

  header{
    height: 80px;
    width: 100%;
    margin: 0 auto 0;
    background: black;
    display: flex;
    align-items: center;
}

.header-menu{

    height: 70px;
    width: 100%;
    width: 1400px;
    max-width: 1400px;
    /*background: red;*/
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    overflow: hidden;
    /*background-color: #ff0808;*/
    height: 65px;
    width: 220px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .logo img{
        height: 65px;
    }
/*.logo{
    
    height: 65px;
    width: 220px;
    background: green;
    margin-left: 5px;
    background-image: url(Recursos-Imagenes/Logo/Logo-Web.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;

}*/


.Menu-Cat{
    height: 65px;
    width: 550px;
    /*background: green;*/
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.categoria{
    display: flex;
    align-items: center;
}

.categoria p{
    text-align: center;
    font-weight: bold;
    color: white;
}


.barra-busqueda{

    height: 25px;
    width: 400px;
    border-radius: 50px;
    text-align: center;
}

.Menu-Cat2{

    height: 65px;
    width: 350px;
    margin-right: 15px;
    /*background: green;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nosotros{
    text-align: center;
    font-weight: bold;
    
}
    .nosotros a{
        text-decoration: none;
        color: white;
    }
.sesion{

    text-align: center;
    font-weight: bold;
    color: white;
}

    .sesion a{
        text-decoration: none;
        color: white;

    }

.carrito-compras{

    text-align: center;
    font-weight: bold;
    color: white;
}

/*------------------------ Fin Header -----------------------------*/
  
.general{
  max-width: 1400px;
  margin:   0 auto 0;
}
  .equipo{
    height: 200px;
    background-color: rgb(0, 0, 0);
    padding-top: 0px;
    font-family: perro;
  }
  .equipo p{
    margin-left: 320px;
    margin-right: 320px;
    font-size: 20px;
    text-align: justify;
    color: rgb(255, 255, 255);
  }
  .equipo h1{
    color: white;
    text-align: center;
  }
  .fotos {
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(88, 0, 73, 0.1);
    justify-content: space-evenly;
  }
  .fotos img {
    width: 190px;
    height: 190px;
    object-fit: cover;
    border-radius: 120px;
  }
  .texto {
    text-align: center;
    background-color: rgb(2, 2, 2);
    font-size: 20px;
    color: aliceblue;
    border-radius: 12px;
    font-family: perro;
  }
  .caja {
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    width: auto;
    height: 353px;
    justify-content: space-around;
    padding-top: 50px;
  }
  .mision {
    width: 650px;
    height: 330px;
    /*background-color: rgb(0, 0, 0);*/
    font-family: perro;
    text-align: center;
    font-size: 23px;
    color: aliceblue;
  }
  .vicion {
    width: 650px;
    height: 330px;
    /*background-color: rgb(0, 0, 0);*/
    font-family: perro;
    text-align: center;
    font-size: 23px;
    color: aliceblue;
  }
  @font-face {
    font-family: perro;
    src: url(Gabarito-VariableFont_wght.ttf) format(truetype);
  }
  
/*nuevo*/ 



/* before adding the photo to the div with the "card-photo" class, in the css clear the styles for .card-photo and remove .card-photo::before and .card-photo::after, then set the desired styles for .card- photo. */

.card {
  --font-color: #fefefe;
  --font-color-sub: #7e7e7e;
  --bg-color: rgb(53, 11, 61);
  --main-color: #000000;
  width: 150px;
  height: 234px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-photo {
/* clear and add new css */
  transform: scale(0.3) translate(220px, 230px);
  width: 250px;
  height: 250px;
  margin-left: -90px;
  margin-top: -115px;


  border-radius: 30%;
}

/* delete */
.card-photo::before {
  display: block;

  position: absolute;
  box-sizing: border-box;
  width: 160px;
  height: 200px;
  left: 50%;
  top: -9%;
  margin-left: -80px;
  
}

/* delete */


.card-title {
  text-align: center;
  color: var(--font-color);
  font-size: 20px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-title span {
  font-size: 15px;
  color: var(--font-color-sub);
}

.card-socials {
  display: flex;
  height: 0;
  opacity: 0;
  margin-top: 20px;
  gap: 20px;
  transition: 0.5s;
}

.card-socials-btn {
  width: 25px;
  height: 25px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.card-socials-btn svg {
  width: 100%;
  height: 100%;
  fill: var(--main-color);
}

.card:hover > .card-socials {
  opacity: 1;
  height: 35px;
}

.card-socials-btn:hover {
  transform: translateY(-5px);
  transition: all 0.15s;
}

.card-photo:hover {
  transition: 0.3s;
  transform: scale(0.4) translate(160px, 150px);
}



  
/*formulario*/ 

.padreformulario{
  width: 100%;
  max-width: 1400px;
  margin: 10px auto 0;
  background-color: #000000;
}

.formulario {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
 
}

.left-side {
  display: flex;
  align-items: center;
}

.email-input {
  padding: 11px;
  width: 500px;
  margin-right: -20%;
  background-color: #f5f5f5; /* Fondo gris claro para el campo de correo */
  border: none;
  border-radius: 15px;
}

.subscribe-button {
  background-color: #00CED1; /* Cambia el color del botón de suscripción */
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-weight: normal; /* Añadido */
  transition: background-color 0.3s, color 0.3s; /* Transición de color */
  font-weight: bold;
}
.subscribe-button:hover {
  background-color: #555151; /* Cambio de color de fondo en hover */
  color: #ffffff; /* Cambio de color de texto en hover */
  font-weight: bold; /* Hacer el texto en negrita en hover */
}
.right-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.right-side a {
  text-decoration: none;
  
}

.right-side img {
  width: 40px; /* Cambia el tamaño de los iconos de redes sociales */
  height: 40px;
  
  margin-left: 40px;
}
.right-side h1{
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  margin-right: 40px;
  margin-left: 0;
}

/*footer*/
.footer {
  background-color: rgb(0, 0, 0);
  
  display: flex;
  justify-content: space-between;

  height: 330px;
  margin: 0px auto 0;
  width: 100%;
  max-width: 1400px;
}

.footer article {
  max-width: 600px;
  
}

.footer h2 {
  font-size: 15px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
  margin-top: 20px; 
  margin-left: 10px;
}

.footer ul {
 
  line-height: 1.6; 
  font-size: 12px;
  margin-left: 20px;
  margin-right: 20px;
  
  list-style-type: none;
}
.footer .Localizanos ul{
list-style-type: none;

line-height: 1.6;
font-size: 12px;
margin-left: 20px;
margin-right: 20px;
}
ul{
  color: white;
}

 .footer .gmail ul{
  list-style-type: none;
  line-height: 1.6;
  font-size: 12px;
  margin-left: 20px;
  margin-right: 20px;
  }
 

.footer a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}



 /*modificación de cada uno de los iconos en el footer*/
.Localizanos h2 img{
  float: left;

  margin-top: -2px;
  margin-left: -50px;
  width: 27px;

}

.Whatsapp h2 img{
  float: left;
 
  margin-top: -2px;
  width: 34px;
  margin-left: -50px;

}

.telf h2 img{
  float: left;
  margin-right: 20px;
  padding-left: 10px;
  width: 35px;  
}


.gmail h2 img{
  float: left;
  margin-right: 10px;
  margin-top: -1px;
  width: 40px;
}

.sociales a:hover {
    
  color: rgba(105, 99, 99, 0.89);
  
}
.sociales img{
  height: 35px;
  transition: background-color 0.3s;
  border-radius: 10px;
}
.sociales .f:hover {
  
  background-color: #181be4f1;
  border-radius: 10px;
  scale: 1.2;

}
.sociales .i:hover {
  
  background-color: #cc18e4f1;
  border-radius: 10px;
  scale: 1.2;
}
.sociales .y:hover {
  
  background-color: #ff0303f1;
  border-radius: 10px;
  scale: 1.2;
}