
*{
    margin: 0;

}
body {
    background: linear-gradient(rgb(0, 0, 0), rgba(66, 9, 104, 0.4), rgba(0, 0, 0, 1.0));
  
    
  }
/*----------------------------- Header -------------------------*/
header{
    height: 80px;
    width: 100%;
    margin: 0 auto 0;
    background: black;
    display: flex;
    align-items: center;
}


.header-menu{

    height: 70px;
    width: 100%;
    width: 1400px;
    max-width: 1400px;
    /*background: red;*/
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    overflow: hidden;
    /*background-color: #ff0808;*/
    height: 65px;
    width: 220px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .logo img{
        height: 65px;
    }
/*.logo{
    
    height: 65px;
    width: 220px;
    background: green;
    margin-left: 5px;
    background-image: url(Recursos-Imagenes/Logo/Logo-Web.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;

}*/


.Menu-Cat{
    height: 65px;
    width: 550px;
    /*background: green;*/
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.categoria{
    display: flex;
    align-items: center;
}

.categoria p{
    text-align: center;
    font-weight: bold;
    color: white;
}

label, p{
    color:  rgb(156, 5, 5);
}
.busq{
    margin-left: 50px;
   height: 25px;
    width: 360px;
    border-radius: 50px;
    text-align: center;
}
 
.menu-busqueda{
    margin-top: 0px;
    display: flex;
    align-items: center;
}

#nombre_buscar{
    width: 250px;
    height: 28px;
    border: none;
    border-bottom-left-radius:  50px; ;
    border-top-left-radius:  50px; ;
    border-bottom-right-radius:  0px; ;
    border-top-right-radius:  0px; ;
    text-align: center;
}

#BotonB{
    margin-left: -2px;
    height: 30px;
    background-color: aqua;
    border-bottom-right-radius:  50px; ;
    border-top-right-radius:  50px; ;
    border-top-left-radius:  0px; ;
    border-bottom-left-radius:  0px; 
    
}

#listaArticulos{
    font-size: 10px;
    margin-top: 20px;
    list-style: none;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
}
#listaArticulos li{
    margin: 5px 0;
}

.filtro{
    display: none;
}

/*fin de la barra de busqueda */ 



/*estilos del modal*/
.boton-modal{
    padding: 40px;
    background-color:#3a1e1e;
}

.boton-modal label{
    padding: 10px 15px;
    background-color: #9751ff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition:  all 300ms ease;;
}

.boton-modal label:hover{
    background-color: blue;
}


#btn-modal{
    display: none;;
}
/*dentro*/ 
.container-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 200ms;
    display:none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}


#btn-modal:checked ~ .container-modal{
    display: flex;
}

 .cerrar-modal{
    width: 100%;
    height: 100vh;
    position:  absolute;
    top: 0; left: 0;
    z-index: -1;
 }
.content-modal{
    width: 100%;
    height: 400px;
    max-width: 800px;
    padding: 20px;
    background-color: rgb(29, 1, 54);
    border-radius:36px;
    border: 15px solid black;
    display: flex;
}

.modal-part-2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 40px;
    
}
#descripcion-1{
    color: white;
    background-color: red;
    width: 300px;
    height: 367px;
}





.content-modal .btn-cerrar{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.content-modal .btn-cerrar label{
    padding: 7px 10px;
    background-color: #9751ff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition:  all 300ms ease;;
    
}

.content-modal .btn-cerrar label:hover{
    background-color: blue;
}
.Menu-Cat2{

    height: 65px;
    width: 350px;
    margin-right: 15px;
    /*background: green;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nosotros{
    text-align: center;
    font-weight: bold;
    
}
    .nosotros a{
        text-decoration: none;
        color: white;
    }
.sesion{

    text-align: center;
    font-weight: bold;
    color: white;
}

    .sesion a{
        text-decoration: none;
        color: white;

    }

.carrito-compras{

    text-align: center;
    font-weight: bold;
    color: white;
}

/*------------------------ Fin Header -----------------------------*/

/*------------------------ Carrusel  --------------------------------*/

        


/*------------------------ Fin Carrusel  --------------------------------*/


/*------------------------    Novedades ----------------------------------*/

.novedades{
    margin: 0 auto ;
    width: 100%;
    max-width: 1400px;
    height: 70px;
    background: black;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;

}

.t1{

    color: white;
}
.t2{

    color: aqua;
}

/*--------------------------- Ofertas ------------------------------------*/

.ofertas{

    width: 1400px;
    max-width: 1400px;
    height: 1140px;
  
    margin: 0 auto;

}
.seccion-oferta-1{

    width: 100%;
    height: 290px;
    /*background-color: blue;*/
    margin: 0 auto 5px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #2b2b2b;
    
} 

.seccion-oferta-1 img{
    justify-content: center;
    
}  

.seccion-oferta-1 p{
    color: red;
}  

.img1{
    width: 345px;
    max-width: 345px;
    height: 230px;
    
}
.img2 {
    width: 645px;
    max-width: 645px;
    height: 290px;
}

.seccion-oferta-2{

    width: 100%;
    height: 530px;
    /*background-color: blue;*/
    margin: 0 auto 10px;
    display: flex;
    align-items: center;
    
}  

.ofer1{

    width: 760px;
    height: 530px;
    /*background-color: aqua;*/
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
} 
.ofer2{

    width: 640px;
    height: 530px;
    /*background-color: rgb(187, 33, 201);*/
  
}

.img3 {
    width: 363px;
    height: 520px;
}

.img4{

    width: 623px;
    height: 255px;
    margin-top: 5.3px;
    margin-left: 5px;
}

/*------------------------------- Fin  Ofertas ------------------------------------*/


/*-------------------------------- Lo mas buscado -------------------------------*/

.Lo-mas-buscado{

    width:100% ;
    max-width: 1400px;
    height: 569px;

    /*background-color: red;*/
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*-------------------------------- Fin Lo mas buscado -------------------------------*/


/*--------------------------- Solo Gamer ----------------------*/

.ZG-Imag{

    width: 1400px;
    height: 730px;
    background-color:rgba(66, 9, 104);
    margin: 0 auto ;
    padding-top: 5px;
    

}
.seccion-ZG{

    /*background-color: brown;*/
    width: 1400px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 5px;

}

.zg-img-1{

    width: 440px;
    height: 350px;
    border-top-right-radius:50px ;
    border-bottom-left-radius: 50px;
}

/*------------------------ carrusel gamer----------------------*/


.carru-gamer{
    width:100% ;
    max-width: 1400px;
    height: 586px;
    /*background-color: red;*/
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.producto{
    max-width: 250px;
    vertical-align: top;
    background: rgba(66, 9, 104);
    padding: 10px 0 20px 0;
    margin-right: 20px;

}
.producto .contenedor-imagen{
    min-height: 200px;
    position: relative;
}
.producto .contenedor-imagen img{
    width: 250px;
    height: 260px;
}
.producto .contenedor-imagen .link{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
}
.producto .contenedor-imagen .img-hover{
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    transition: all ease-in-out 0.2s;
}
.producto:hover .img-hover{
    opacity: 1;
}
.producto .datos{
    border-top: 2px solid #e2e2e2;
    border-bottom: 2px solid #e2e2e2;
    padding: 20px;
}
.producto .datos h3{
    margin: 10px 0;
}
.producto .datos h3 a{
    text-decoration: none;
    color: #2b2b2b;
    font-size: 14px;
    display: block;
    text-transform: uppercase;
}
.producto .datos h3 a:hover{
    text-decoration: underline;
}
.producto .datos small a{
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    display: block;
    margin-top: 10px;
    color: #5a5a5a;
    font-size: 11px;
}
.producto .datos small{
    font-size: 14px;
    text-transform: uppercase;
    color: #5a5a5a;
}
.producto .precios{
    padding: 20px;
    display: flex
}
.producto .precios div{
  flex-grow: 1;
}
.producto .precios div small{
    display: block;
    font-size: 15px;
    margin-bottom: 5px;
    color: #828282;
    font-weight: 600;
}
.producto .precios div.internet span{
    font-weight: bold;
    font-size: 23px;
    color: #ff0808;
}
.producto .precios div span{
    font-size: 17px;
    font-weight: 600;
}
.producto .btn-carrito{
    display: block;
    text-align: center;
    padding: 15px;
    background: #9751ff;
    width: 80%;
    margin: 0 auto;
    border-radius: 100px;
    color: #fff;
    text-decoration: none;
    display: none;
    transition: all ease-in-out 0.3s;
}
.producto .btn-carrito:hover{
    transform: scale(1.05);
}
.producto:hover .btn-carrito{
    display: block;
}






/*------------------------ fin carrusel gamer----------------------*/.sociales a:hover {
    
    color: rgba(105, 99, 99, 0.89);
    
}
.sociales img{
    height: 30px;
    transition: background-color 0.3s;
    border-radius: 10px;
}
.sociales .f:hover {
    
    background-color: #181be4f1;
    border-radius: 10px;
    scale: 1.2;

}
.sociales .i:hover {
    
    background-color: #cc18e4f1;
    border-radius: 10px;
    scale: 1.2;
}
.sociales .y:hover {
    
    background-color: #ff0303f1;
    border-radius: 10px;
    scale: 1.2;
}
